.book__main {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 35, 49);
}
.book__header {
  display: flex;
  font-weight: 700;
}

.book__rows {
  display: flex;
  flex-direction: column;
}
.book__row {
  display: flex;
  align-items: center;
}
.book__row div, .book__header div {
  text-align: center;
}

.book__count {
  width: 40px;
}
.book__price {
  width: 25vw;
}
.book__amount {
  width: 25vw;
}
.book__total {
  width: 85px;
}
